.display{
    width: 300px;
    height: 40px;
    background-color: rgb(170, 170, 170);
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: end;
    align-items: center;
    margin: auto;
}
button{
    width: 50px;
    height: 40px;
    margin: 12px;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    border-width: 0px;
    background-color: rgb(85, 85, 85);
}
body{
     margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;     
  
}
.container{
    background-color: black;
    margin: auto;
    width: 350px;
    height: 400px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}
.spclBtn{
    background-color: rgb(255, 147, 0);
}